################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Diary/Debug_Obj/Diary.tlog/CL.command.1.tlog
/Debug/Data/Bar
/Debug
/Diary/Debug_Obj
/Diary/Release_Obj
/MakeUpdData
/NoteBook/Debug_Obj
/NoteBook/Release_Obj
/NotePad/Debug_Obj
/NotePad/Release_Obj
/OrgInet/Debug_Obj
/OrgInet/Release_Obj
/OrgPanel/Debug_Obj
/OrgPanel/Release_Obj
/PassKeeper/Debug_Obj
/PassKeeper/Release_Obj
/Release
/UnitConv/Debug_Obj
/Setup
/UnitConv/Release_Obj
/Addons/Imenin/Release
/AppBar/.vs/AppBar
/AppBar/Debug_Obj
/AppBar/Release_Obj
